{% set metadata = {'name': item.name, 'namespace': item.namespace} | combine(item.metadata | default({}), recursive=True) %}
{% set document = {'apiVersion': 'infrastructure.cci.vmware.com/v1alpha2', 'kind': 'SupervisorNamespace', 'metadata': metadata, 'spec': item.spec | default({})} %}
{{ document | combine(item.manifest_overrides | default({}), recursive=True) | to_nice_yaml(indent=2) }}
