{% set metadata = {'name': item.name ~ '-cloud-init', 'namespace': item.namespace} | combine(item.cloud_init_metadata | default({}), recursive=True) %}
{{ {'apiVersion': 'v1', 'kind': 'Secret', 'metadata': metadata, 'stringData': {'user-data': item.cloud_init}} | to_nice_yaml(indent=2) }}
